.user-page {
  font-family: 'Arial', sans-serif;
  background-color: #e7f6fd;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
  min-height: 90vh;
  text-align: center;
  justify-content: center; 
}

.user-page h1 {
  
  color: #333;
  font-size: 2.5em;

}
.user-page h2 {
  margin: -4px;
}

.user-page p {
  color: #555;
  font-size: 1.5em;
  margin-bottom: 30px;
}

.team-info {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 500px;
  margin-bottom: 30px;
}

.team-info h2 {
  color: #007bff;
  font-size: 2em;
  margin-bottom: 10px;
}

.team-info .team-detail {
  color: rgb(17, 17, 20);
}

.team-info ul {
  list-style-type: none;
  padding: 0;
}

.team-info ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f0f4f8;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  color: #333;
}

.team-info ul li .li-types {
  width: 33%;

  font-weight: 600;


}

.team-info ul li .li-typedetail {
  font-weight: 200;

  text-transform: capitalize;

}


.actions {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}


.user-page .actions button{
  padding: 15px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  min-width: 150px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-page .actions button:hover {
  background-color: #0056b3;
}
.actions button:disabled{
  background-color: grey;
  cursor: not-allowed;
  opacity: 0.6;
}
.fight-btn {
  width: 26%;
  background-color: #d5706b;
  color: white;
  min-width: 150px;
  font-size: 1.2em;
  padding: 15px 30px;
}

.fight-btn:hover {
  background-color: #de5049;
}
.fight-btn:disabled{
  background-color: grey;
  cursor: not-allowed;
  opacity: 0.6;
}



.image-container {
  display: flex;
  justify-content: center; 
  margin: 5px 0;
}

.app-image-avatar {
  max-width: 20%; 
  height: auto; 
}

.user-name{
  color: #ca8683;
}

@media (max-width: 800px) {
  .user-page h1 {
  
      font-size: 2em; 
  }

  .app-image-avatar {
      max-width: 70%; 
  }

  .team-info {
      width: 90%; 
  }

  .actions {
      flex-direction: column; 
  }

  .user-page button {
      width: 100%; 
  }
  
}