
.fight-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #e9f0f4;
    min-height: 30vh;
    min-width: 50vw;
    border: 2px solid #007BFF; 
    border-radius: 15px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
}
 


.fight-image-container_fight {
    margin-top: 20px;
    width: 90%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto; 
    margin-right: auto;
}

.fight-image-vs {
    width: 100%; 
    height: auto; 
    max-width: 750px;
    object-fit: cover; 
    text-align: center;
}


.fight-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-grow: 1;


}


.fight-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 30px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.fight-button {
    margin: 10px 0;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: #da0505;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.fight-button:hover {
    background-color: #6f0303;
}
.fight-button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.back-button {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
}

.fight-radio-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -80px;
    width: 90%;
    gap: 10px;
}

.fight-radio-group-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

.fight-radio-group-div input {
    width: 35px;
}



.fight-radio-group-div .fight-label {
    font-size: 16px;
    text-align: start;
    font-weight: 700;
}


.fight-right {
    margin: 10px 30px 0 0;
    width: 50%;
    padding: 20px;
}

.fight-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}


.fight-user-list {
    list-style-type: none;
    padding: 0;
}

.fight-user-item {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    background-color: #f9f9f9; 
}
.fight-user-item span {
  margin-bottom: 5px;
  font-size: 14px; 
  font-weight: 600;
  color: #666; 
}

.fight-user-item .fight-username {
    font-size: 16px; 
    font-weight: 900;
    color: darkred;
  }



  .fight-user-item .fight-details {
    font-weight: 200;
}

.fight-user-button {
    width: 50%;
    padding: 6px 12px; 
    background-color: #da0505; 
    color: white;
    border: none; 
    border-radius: 4px;
    font-size: 14px; 
    cursor: pointer; 
    margin-top: 10px; 
  }

  .fight-user-button:hover {
    background-color: #6f0303; 
  }


  .fight-user-list {
    list-style-type: none;
    padding-left: 0; 
  }

.fight-title {
    margin-bottom: 20px; 
    font-size: 24px; 
  }

.enemy {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100%;            
    font-size: 18px;        
    color: #333;             
}